*
{
 font-family: 'Raleway', sans-serif; 
 
}   
/* HEADER---------------------------------------------------------- */
a {
    text-decoration: none;
  }
.header {
    display: grid;
    align-items: center;
    max-width: 1500px;
    margin: auto;
}
.headerlogo {
    height: 45px;
    padding: 0 30px;
    grid-area: logo;
}
.headerbox {
    display: flex;
    align-items: center;
    grid-area: headerbox;
}
.headerurl {
   
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
    color: #0065FC; 
    padding: 30px;
    font-weight: 500;
    text-align: center;
}
.headerurl:hover {
    color: #0065FC;
}
.signup {
    display: flex;
    align-items: center;
    grid-area: signup;
    padding: 30px;
    color: #0065FC;
    font-weight: 600;
}
@media all and (min-width: 500px) {
    .header {
      grid-template-columns: auto 1fr auto auto;
      grid-template-areas: "logo . headerbox signup";
    }
    .headerurl {
      border-top: 3px solid transparent;
    }
    .headerurl:hover {
      border-top: 3px solid #0065FC;
    }
}
@media all and (max-width: 501px) {
    .header {
      grid-template-columns: auto 1fr auto;
      grid-template-areas: "logo . signup" "headerbox headerbox headerbox";
    }
    .headerimg {
      order: 0;
    }
    .signup {
      order: 1;
    }
    .headerbox {
      order: 2;
    }
    .headerurl {
      border-top: none;
      border-bottom: 3px solid #F2F2F2;
      width: 50%;
    }
    .headerurl {
      border-bottom-color: #0065FC;
      text-decoration: none;
    }
    .headerurl:hover {
      border-bottom-color: #0065FC;
    }
}
/* MAIN ------------------------------------------------------------ */ 
.main {
    max-width: 1500px;
    margin: auto;
    padding: 0 30px;
    box-sizing: border-box;
}
/* SECTION 0 ------------------------------------------------------- */
#section0_title {
font-size: 30px;
font-weight: 900;
margin-bottom: 9px;
}
#section0_subtitle {
    margin-top: 1px;
}
@media all and (max-width: 600px) {
    #section0_title {
      width: 100%;
    }
    #section0_subtitle {
      margin-right: 15px;
    }

}
/* BUTTON SEARCH ------------------------overflow: auto;------------------------------- */
.buttonbox {
    display: inline-flex;
    max-width: 100%;
}
  .buttondata {
    background-color: #F2F2F2;
    padding: 15px 20px;
    border-radius: 15px 0 0 15px;
    text-align: center;
}
  .buttondataicon {
    margin-left: 0.15px;
}
  .buttoninput {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 25px;
    box-sizing: border-box;
    width: 225px;
    font-size: 15px;
    font-weight: bold;
}
  .searchFormSearchinput::placeholder {
   
    font-size: 15px;
    color: #00000069;
}
  .buttonclicinput {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 15px 15px 0;
    padding: 0 25px;
    
    font-size: 15px;
    cursor: pointer;
}
@media all and (max-width: 600px) {
    .buttonboxForm {
      display: flex;
      width: 100%;
    }                            
    .buttoninput {
      flex: 1;
    }
    .buttonclicinputtxt {
      display: none;
    }
    .buttonclicinputicon {
      display: block;
    }
}
@media all and (min-width: 601px) {
    .buttonclicinputtxt {
      display: block;
    }
    .buttonclicinputicon {
      display: none ;
    }
}
/* FILTER ---------------------------------------------------------- */
.filterbox {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
}
.filterstitle {
  margin: 0 30px 15px 0;
  display: flex;
  align-items: center;
}
.allfilters {
  display: flex;
  align-items: center;
  margin-right: 30px;
  border: 2px solid #d9d9d9;
  border-radius: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  transition-duration: 0.1s;
  font-weight: bold;
}
.allfilters:last-child {
  margin-right: 0;
}
.allfilters:hover {
  background-color: #f3f8ff;

}
.filtersiconbox {
  background-color: #DEEBFF;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
}
.searchicondata {
  color: #0065FC;
}
.filtersubtitle {
  margin: 0 15px;
}
/* INFO ------------------------------------------------------- */

.infobox {
  display: flex;
  align-items: center;
  margin: 15px 0 30px 0;
}
.infoicon {
  height: 30px;
  width: 30px;
  min-height: 30px;
  min-width: 30px;
  border: solid 1px #d9d9d9;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.infoicondata {
  color: #0065FC;
}
/* SECTION MID BOX ------------------------------------------------------- */

#section_1{
    flex-wrap: wrap-reverse;
    background-color: #F2F2F2;
    border-radius: 30px;
    height: 90%;
    padding: 2rem;
}
#section1title {
 
    margin-left: 25px;
    margin-bottom: 10px;
    
}
.linebox {
    display: flex;
    justify-content: center;
    padding-bottom: 6px;
}
.picture_box_1
{
    border: 5px solid white;
    border-radius: 1rem ;
    box-shadow: 0 0 16px #0000002e;
    min-width: 200px;
    margin: 15px;

}
.picture1
{
    
    border-radius: 1rem 1rem 0 0;
    background-position: center;
    background-size: cover;
    height: 7rem;
    min-width: 235px;
    cursor: pointer;

}
.picture1:hover {
  background-color: #f3f8ff;


}
.undertxt{
    background-color: white;
    font-weight: bold;
    padding-left: 10px;
    font-size: 18px;
}
.undertxt:hover {
  cursor: pointer;
}
.cost
{
    font-weight: normal;
    margin-left: 0px;
}
.star1
{
 color:#0065FC;
 margin-left: 0px;
}
.star2
{
 color:#D9D9D9;
 margin-left: 0px;
}

#url_picture_1
{
    background-image: url(images/hebergements/4_small/Auberge\ de\ la\ cannebière.jpg);
}
#url_picture_2
{
    background-image: url(images/hebergements/4_small/Hôtel\ du\ port.jpg);
}#url_picture_3
{
    background-image: url(images/hebergements/4_small/Hotêl\ Les\ mouettes.jpg);
}
#url_picture_4
{
    background-image: url(images/hebergements/4_small/Hôtel\ de\ la\ mer.jpg);
}
#url_picture_5
{
    background-image: url(images/hebergements/4_small/Auberge\ Le\ Panier.jpg);
}
#url_picture_6
{
    background-image: url(images/hebergements/4_small/Hôtel\ chez\ Amina.jpg);
}

#section1titleunder
{ 
    width: 100%; 
    margin-left: 20px;
    padding-bottom: 10px;
}

/* SECTION 2 ------------------------------------------------------- */

.section2 
{ 
    background-color: #F2F2F2; 
    border-radius: 30px;
    padding: 2rem;
}
#section2title
{  
    padding-bottom: 2px;
    margin-left: 50px;
    width: 100%;
}
.picture_box_2
{
    display: flex;
    margin-bottom: 20px;
    
}

.picture2
{
    border: 6px solid white;  
    height: 8rem;
    max-width: 130px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-position: center;
    background-size: cover;
   
}
.picture2:hover {
  background-color: #f3f8ff;
  cursor: pointer;

}

.undertxt2
{
    background-color: white;
    border: 15px solid #ffff;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    float: right;
    width: 100%;
    padding-right: 10px;
}
.undertxt2:hover {
  background-color: #f3f8ff;
  cursor: pointer;
}

#url_picture_7
{
    background-image: url(images/hebergements/4_small/Hôtel\ Le\ soleil\ du\ matin.jpg);
}
#url_picture_8
{
    background-image: url(images/hebergements/4_small/Au\ cœur\ de\ l_eau_Chambres_d_hôtes.jpg);
}
#url_picture_9
{
    background-image: url(images/hebergements/4_small/Hôtel\ tout\ bleu\ et\ Blanc.jpg);
}

@media screen and (max-width: 1440px) {
    .sectionmidbox {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }

    .section1 {
       height: 80%;
    }
    .linebox {
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 6px;
    }

    .picture1 {
        width: 100%;

    }  
    .picture2 {
      min-width: 60px;
        
    }
    #section2title {  
    padding-bottom: 2px;
    margin-left: 0px;
    width: 100%;
    }
    .section2{
      padding-right: 0px;
      padding-left: 5px;
      grid-row-start: 1;
      width: 100%;
      justify-content: center;

    }
    .main {
      max-width: 1500px;
      margin: auto;
      padding: 0 0px;
      box-sizing: border-box;
  }
}
@media screen and (min-width: 1440px) {
    .sectionmidbox {
      display: grid;
      column-gap: 2rem;
      grid-template-columns: 6fr 3fr;
    
    } 
    .picture2 {
        min-width: 140px;  
    } 

    .footer{
      margin-left: 15rem;
    } 

    
}


    /* SECTION 3 ------------------------------------------------------- */
#section3title
{
    margin-bottom: 30px;
    margin-top: 40px;
    width: 100%;
    margin-bottom: -50px;
}

#url_picture_10
{
    background-image: url(images/activites/4_small/Vieux\ port.jpg);
}
#url_picture_11
{
    background-image: url(images/activites/4_small/Fort\ de\ Pomègues.jpg);
}
#url_picture_12
{
    background-image: url(images/activites/4_small/Îles\ de\ Frioul.jpg);
}
#url_picture_13
{
    background-image: url(images/activites/4_small/Parc\ National\ des\ Calanques.jpg);
}
#url_picture_14
{
    background-image: url(images/activites/4_small/Notre-Dame-de-la-Garde.jpg);
}
#url_picture_15
{
    background-image: url(images/activites/4_small/Parc\ Longchamp.jpg);
}


#section3
{ 
  display: grid;
}

.picture3
{
    margin-bottom: 30px;
    width: 100%;
	  height: 70%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    float: left;
    background-position: center;
    background-size: cover;
    padding-bottom: 2rem;

}
.picture3:hover {
  background-color: #f3f8ff;

  cursor: pointer;

}
.picture3_1
{
    margin-bottom: 30px;
    width: 100%;
	  height: 150px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    float: left;
    background-position: center;
    background-size: cover;
}
.picture3_1:hover {
  background-color: #f3f8ff;
  cursor: pointer;
}

.undertxt3
{
    font-size: 20px;
    background-color: #ffff;
    border: 15px solid white;
    border-radius: 30px;
    font-weight: bold;
    box-shadow: 0px 0px 7px 7px #F0F0F0;
    margin-bottom: 50px;
    padding-bottom: 30px;
}
.undertxt3:hover {
  background-color: #f3f8ff;
  cursor: pointer;

}

@media screen and (max-width: 1441px) {
    .picture3{
      max-height: 4rem;
      height: 150px;
    }
    .S3_box
    {
        padding-left: 0px;
        min-width: 300px;
        
    }
    .undertxt3{
      padding-top: 20px;
    }
    .picture3_1
    {
      height: 150px;
    }
}
footer
{   
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    background-color: #F2F2F2; 
    text-decoration:none;
    list-style: none;
    justify-content: center;
}
.ulbot
{  

    padding-right: 14rem;
    text-decoration:none;
    list-style: none;     
}
.picture3{
   width: 100%;  
}
.picture3_1{
  width: 100%;
}
footer{
    justify-content: start;
}
.ulbot{  
    
  padding-right: 0rem;
  text-decoration:none;
  list-style: none;     
}
.URL_footer
{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.footer_title
{
    font-size: 30px;
}
#section3
{ 
  column-gap: 2rem;
  margin: 4rem 0;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 4rem;

}