/* MENU---------------------------------------------------- */
/* Header */
a {
  text-decoration: none;
}

.section1 {
  background-color: white;
}

.boxmenu {
  width: 375px;
  margin: auto;
  background: #f7f7f7;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px 3px 4px #cec9c9;
          box-shadow: 0px 3px 4px #cec9c9;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerbox {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.arrow {
  position: absolute;
  left: 10px;
  top: 18px;
  font-size: 1.7rem;
  color: black;
}

.title {
  width: 100%;
  text-decoration: none;
  color: black;
  font-size: 3rem;
  font-family: "Shrikhand", sans-serif;
}

h1 {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
          margin-block-start: 0.67em;
  -webkit-margin-after: 0.67em;
          margin-block-end: 0.67em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 375px;
  background: white;
  height: 235px;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
  z-index: 1;
  position: relative;
}

.menutitle {
  text-align: center;
  margin: 0px 0px 0px 0px;
  background-color: #F7F7F7;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: -70px;
  padding-top: 20px;
  z-index: 2;
  position: relative;
}

.menutitlebox {
  border-radius: 0;
  margin-top: 0px;
  background: white;
  font-size: 1.7rem;
  font-family: "Shrikhand";
  margin: 30px auto;
}

.platprice {
  margin-top: 14px;
  margin-right: 2px;
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  transition: -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
  font-weight: bolder;
}

.platgreenbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkbox-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
}

.platbox {
  background: white;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 5px;
  margin-top: 18px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 4px #cec9c9;
          box-shadow: 0px 3px 4px #cec9c9;
  border: 1px solid white;
  cursor: pointer;
  overflow: hidden;
}

.platbox:hover .rightgreen {
  -webkit-transform: translate(-60px, 0);
          transform: translate(-60px, 0);
}

.platbox:hover .platprice {
  -webkit-transform: translate(-60px, 0);
          transform: translate(-60px, 0);
}

.platbox:hover .validationlogo {
  -webkit-animation: spin 1s;
          animation: spin 1s;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-720deg);
            transform: rotate(-720deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-720deg);
            transform: rotate(-720deg);
  }
}

.platcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -2rem;
  height: 40px;
  position: relative;
}

.rightgreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -15px;
  margin-bottom: -1px;
  width: 60px;
  height: 55px;
  border-radius: 0 10px 10px 0px;
  background: #99e2d0;
  position: absolute;
  top: 0;
  right: -60px;
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  transition: -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
}

.validationlogo {
  width: 28px;
  height: 28px;
  border: 1px solid white;
  background: white;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #99E2D0;
}

.plattitle {
  font-size: 1.1rem;
  margin-top: 8px;
  font-weight: bold;
}

.buttonorderbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f7f7f7;
  width: 100%;
}

.menusubtitle {
  font-weight: 100;
  font-size: 0.9rem;
  width: 260px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#heart0 {
  position: relative;
  margin: auto;
  font-size: 1.7rem;
  width: 20px;
  height: 25px;
}

/* COMMANDER */
.buttonorder {
  cursor: pointer;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 60px;
  -webkit-box-shadow: 0px 5px 5px lightgrey;
          box-shadow: 0px 5px 5px lightgrey;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 30px;
  font-size: 1rem;
  background: linear-gradient(173deg, #ff79da 0%, #d66cdb 38%, #ab5edc 84%, #9b59dc 100%);
  color: white;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.buttonorder:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.order {
  color: white;
}

/* footer */
footer {
  background: #363636;
  color: white;
  padding: 15px 0px 15px 0px;
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.footertitle {
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-family: "Shrikhand", sans-serif;
  margin-left: 1rem;
}

.footertxt {
  margin-left: 1rem;
}

.footericon {
  padding-right: 1rem;
}

.cardtitle {
  margin-left: 1rem;
  border-bottom: 3px solid #99e2d0;
  width: 40px;
}

.footerlink {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=stylemenu.css.map */