*
{
    font-family: 'Raleway', sans-serif; 
    font-style: bold;
    margin-left: 15px;
}   


#logo
{  
  margin-bottom: 3em;  
 
}
#top
{
    margin-top: 25px;
    display: flex;
    flex-direction: row-reverse;
    
}

#top1
{
color: #0065FC;
}

#top2
{
 color: #000000;
}


}
#atop
{
    
}

#icon
{
    
    
}
#button_search
{
    background-color:#0065FC;
    color: #F2F2F2;
    width: 7em;
    height: 2.1em;

}

#picture1
{
    border: 6px solid white;  
    width: 250px;
	height: 150px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    float: left
}

#picture2
{
    border: 6px solid white;  
    width: 150px;
	height: 110px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    float: left
}

#undertxt
{
    background-color: white;
    margin-left: 15px; 
    border: 15px solid white;
    border-radius: 30px;
    font-weight: bold;
    
}

#undertxt2
{
    background-color: white;
    margin-left: 15px; 
    border: 15px solid white;
    border-radius: 30px;
    font-weight: bold;
    
}

#cost
{
    font-weight: normal;
    margin-left: 0px;
}


#star1
{
 color:#0065FC;
 margin-left: 0px;
}
#star2
{
 color:#D9D9D9;
 margin-left: 0px;
}
#mid
{
    display: flex;
}

#h1a
{
    flex-wrap: wrap;
    width: 100%;
    margin-left: 50px;
}
#section_1
{

    flex-wrap: wrap;
    display: flex;
    
    background-color: #F2F2F2; border-radius: 30px;
    width: 1200px; 
	height: 800px;
    

}
#h1abis
{
    flex-wrap: wrap;
    width: 100%; 
    margin-left: 50px;
}


#h1b
{
    margin-left: 50px;
    width: 300px;

}

#section_2 
{
    
    min-width: 500px;
    margin-left: 15px;
    background-color: #F2F2F2; border-radius: 30px;
}

#h1c
{
    margin-left: 15px;
    width: 100%;
}

#section_3
{
    
    width: auto;
    height: auto;
    flex-wrap: wrap;


    align-content: space-between;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5em;
    margin-top: 5em;
}

footer
{   
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #F2F2F2; 
    text-decoration:none;
    list-style: none;
}

#ulbot
{
    text-decoration:none;
    list-style: none;  
   
}


